@model IEnumerable<SchoolManagementApp.MVC.Data.Class>

@{
    ViewData["Title"] = "Class Management";
}

<h1>Classes</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lecturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @item.Course.Code @item.Course.CourseName
                </td>
                <td>
                    @item.Lecturer.LastName, @item.Lecturer.FirstName
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete</a>
                    <!-- Implement jQuery for this later -->
                    <button data-id="@item.Id" class="btn btn-danger deleteBtn" hidden="true" type="button">New Delete (not active)</button>
                    <a asp-action="ManageEnrollments" class="btn btn-success" asp-route-classId="@item.Id">Manage Enrollments</a>
                </td>
            </tr>
        }
    </tbody>
</table>
